<ul class="clients">
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/CC.png")" class="attachment-client wp-post-image" alt="logo-barrci" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/Coca.png")" class="attachment-client wp-post-image" alt="logo-locks" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/History.png")" class="attachment-client wp-post-image" alt="logo-outsource" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/HospItaliano.png")" class="attachment-client wp-post-image" alt="logo-regnum" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/MTV.png")" class="attachment-client wp-post-image" alt="logo-written" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/NatGeo.png")" class="attachment-client wp-post-image" alt="logo-regnum" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/TeLeFe.png")" class="attachment-client wp-post-image" alt="logo-regnum" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/Telemundo.png")" class="attachment-client wp-post-image" alt="logo-regnum" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/Tr3s.png")" class="attachment-client wp-post-image" alt="logo-regnum" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/VH1.png")" class="attachment-client wp-post-image" alt="logo-regnum" height="88" width="152"></a>
    </li>
    <li>
        <a href="#"><img src="@Url.Content("~/Content/images/logos/Viacom.png")" class="attachment-client wp-post-image" alt="logo-regnum" height="88" width="152"></a>
    </li>
</ul>

